* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
  }
  .wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: #000;
    border: 3px solid rgb(124, 199, 26);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
  }
  #closebutton {
    width: 100px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    float: right;
    cursor: pointer;
   }   
  .wrapper.active .form.sign-in {
    transform: translateY(-450px);
  }
  .wrapper .form.sign-up {
    position: absolute;
    top: 450px;
    left: 0;
  }
  .wrapper.active .form.sign-up {
    transform: translateY(-450px);
  }
  h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
  }
  .input{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
  }
  .input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .input input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
  }
  .input input:focus~label,
  .input input:valid~label {
    top: -5px;
  }
  .remember {
    margin: -5px 0 15px 5px;
  }
  .remember label {
    color: #fff;
    font-size: 14px;
  }
  .remember label input {
    accent-color:  rgb(124, 199, 26);
  }
  button {
    position: relative;
    width: 100%;
    height: 40px;
    background:  rgb(124, 199, 26);
    border: 3px solid rgb(124, 199, 26);
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
  }
  .signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
    color:rgb(124, 199, 26) ;
  }
  .signUp-link p {
    color:rgb(124, 199, 26);
  }
  .signUp-link p a {
    color:rgb(124, 199, 26);
    font-weight: 500;
  }
  .signUp-link p a:visited {
    color:rgb(124, 199, 26);
   }
   .message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
